<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Avoid IE compatibility mode, as it breaks layout -->
    <link rel="icon" href="/static/favicon.ico">
    <link rel="icon" type="image/png" sizes="128x128"  href="/static/caller-128.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/caller-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/caller-16.png">
    <link rel="apple-touch-icon" sizes="128x128" href="/static/caller-apple-128.png">

    <title>Caller</title>

    <link rel="stylesheet" href="/static/3rdparty/w3.css"> 
    
  </head>

  <body>
    <div class="w3-card " style="max-width:600px;margin-left: auto;margin-right: auto ">
      <div class="w3-container w3-padding-16" > 
        <p>To avoid typing phone numbers into your phone manually, you can connect your PC with your mobile phone to transmit phone numbers. Create a session on your PC (sender) and open the shown link on your mobile phone (receiver).</p>
        <p>For additional security, the phone number can be encrypted end-to-end. See <a href="https://github.com/avanc/caller">https://github.com/avanc/caller</a> for implementation details.</p>
        
        <a href="send"><button class="w3-bar-item w3-button w3-black w3-round-large">Create Session</button></a>
        <br>
      </div>

      <div class="w3-container w3-padding-16" > 
        <p>Or enter your session ID manually:</p>
        <input class="w3-input w3-border w3-round-large" type="text" id="room" autocomplete="off" placeholder="session id">
        <div class="w3-row">
                <button id="send" onClick="load_page(this.id)" class="w3-button w3-col w3-block w3-black w3-round-large" style="width:150px">Join as sender</button>
                <button id="receive" onClick="load_page(this.id)" class="w3-button w3-col w3-block w3-black w3-round-large" style="width:150px">Join as receiver</button>
        </div> 
              
      </div>
      
    </div>

    
    <script>
        var load_page = function(destination) {
          var room = document.getElementById("room").value;
          var link= window.location.protocol + "//" + window.location.hostname + (window.location.port ? ":" : "") + window.location.port + "/" + destination + "/" + room;
          window.location = link;
        }
    </script> 
 
  </body>
</html>
