<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Avoid IE compatibility mode, as it breaks layout -->
    <link rel="icon" href="favicon.ico">

    <title>Caller: Receive</title>

    <link rel="stylesheet" href="/static/3rdparty/w3.css"> 
  </head>

  <body>
    <div class="w3-card " style="max-width:600px;margin-left: auto;margin-right: auto ">
      <div class="w3-container ">
        Receiving phone numbers from <a id="link"></a>
      </div>
      <ul id="phonenumbers" class="w3-ul w3-border-top">
        
      </ul>
    </div>
    
    
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io.connect();
        var room=window.location.pathname.split('receive/').pop();
        var receivelink=window.location.protocol + "//" + window.location.hostname + (window.location.port ? ":" : "") + window.location.port + "/send/" + room;
        document.getElementById('link').setAttribute("href", receivelink);
        document.getElementById('link').text=receivelink;
        
        socket.on('connect', function() {
          socket.emit('room', room);
        });
        
        var last_number="";
        socket.on('phonenumber', function(msg){
          if (last_number!=msg) { // Don't repeat messages on reconnect
            last_number=msg;
            var el= document.getElementById('phonenumbers');
            el.innerHTML = '<li class="w3-bar"> <a href="tel:'+msg+'"><button class="w3-bar-item w3-button w3-black w3-round-large w3-right">Call</button></a> <div class="w3-bar-item"> <span class="w3-large">'+msg+'</span><br>               <span class="w3-tiny w3-text-grey"> </span> </div> </li>' + el.innerHTML;
          }
        });
  
    </script>

  </body>
</html>
